
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/pt-sans/ptsans-bold.woff2") format("woff2"), url("../fonts/pt-sans/ptsans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/pt-sans/ptsans-italic.woff2") format("woff2"), url("../fonts/pt-sans/ptsans-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/pt-sans/ptsans-regular.woff2") format("woff2"), url("../fonts/pt-sans/ptsans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/fira-sans/firasans-bold.woff2") format("woff2"), url("../fonts/fira-sans/firasans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-black: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-black);
  margin: 0;
  min-width: 1240px;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 35px;
}

.header__contacts {
  background: #F3F7F9;
  padding-top: 10px;
  padding-bottom: 11px;
}


.header__container {
  display: flex;
  align-items: center;
}

.header__title {
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #EE3643;
  margin: 0;
  margin-left: 2px;
}

.header__address {
  font-size: 14px;
  line-height: 18px;
  color: #32425C;
  margin: 0;
  margin-left: auto;
}

.header__phone {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #293449;
  background-image: url("../img/icon/phone.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 24px;
  margin-left: 34px;
  margin-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.header__logo {
  position: absolute;
  width: 220px;
  height: 50px;
  left: 35px;
  top: 0;
}

.header__user .header__container {
  position: relative;
  padding-left: 255px;
}

.header__phone:hover {
  opacity: 0.6;
}

.header__phone:active {
  opacity: 0.3;
}

.header__user {
  background-color: #293449;
}

.header__user-block {
  margin-left: auto;
}

.header__input {
  width: 100%;
  height: 45px;
  border: none;
  font-family: "PT Sans", sans-serif;
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
  color: #293449;
  padding-left: 65px;
}

.header__input::placeholder {
  opacity: 0;
}

.header__label {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  position: absolute;
  top: 11px;
  left: 53px;
}

.header__form {
  flex-grow: 1;
  position: relative;
}

.header__search-icon {
  position: absolute;
  top: 12px;
  left: 21px;
  opacity: 0.3;
}

.header__input:focus {
  background-color: #F1F5F7;
  outline: none;
}

.header__input:focus ~ .header__search-icon {
  opacity: 1;
  fill: #405069;
}

.header__input:focus + .header__label {
  display: none;
}

.header__input:focus::placeholder {
  color: #C5C5C5;
  opacity: 1;
}

.user {
  padding-left: 6px;
}

.user__link--log-in {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #F1F5F7;
  text-decoration: none;
  padding-left: 28px;
  background-image: url("../img/icon/login.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.user__link--name {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #F1F5F7;
  text-decoration: none;
  padding-left: 24px;
  background-image: url("../img/icon/user.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.user__link--log-out {
  display: block;
  width: 23px;
  height: 24px;
  background-image: url("../img/icon/logout.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.user__item {
  margin-left: 12px;
}

.user__list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.user__list--hidden {
  display: none;
}

.nav {
  background: #3D546F;
}

.nav__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
}

.nav__item {
  margin-right: 45px;
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
}
