
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/pt-sans/ptsans-bold.woff2") format("woff2"), url("../fonts/pt-sans/ptsans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/pt-sans/ptsans-italic.woff2") format("woff2"), url("../fonts/pt-sans/ptsans-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/pt-sans/ptsans-regular.woff2") format("woff2"), url("../fonts/pt-sans/ptsans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/fira-sans/firasans-bold.woff2") format("woff2"), url("../fonts/fira-sans/firasans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-black: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-black);
  margin: 0;
  min-width: 1240px;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 35px;
}

.header__contacts {
  background: #F3F7F9;
  padding-top: 10px;
  padding-bottom: 11px;
}


.header__container {
  display: flex;
  align-items: center;
}

.header__title {
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #EE3643;
  margin: 0;
  margin-left: 2px;
}

.header__address {
  font-size: 14px;
  line-height: 18px;
  color: #32425C;
  margin: 0;
  margin-left: auto;
}

.header__phone {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #293449;
  background-image: url("../img/icon/phone.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 24px;
  margin-left: 34px;
  margin-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.header__logo {
  position: absolute;
  width: 220px;
  height: 50px;
  left: 35px;
  top: 0;
}

.header__user .header__container {
  position: relative;
  padding-left: 255px;
}

.header__phone:hover {
  opacity: 0.6;
}

.header__phone:active {
  opacity: 0.3;
}

.header__user {
  background-color: #293449;
}

.header__user-block {
  margin-left: auto;
}

.header__input {
  width: 100%;
  height: 45px;
  border: none;
  font-family: "PT Sans", sans-serif;
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
  color: #293449;
  padding-left: 65px;
}

.header__input::placeholder {
  opacity: 0;
}

.header__label {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  position: absolute;
  top: 11px;
  left: 53px;
  cursor: text;
}

.header__form {
  flex-grow: 1;
  position: relative;
}

.header__search-icon {
  position: absolute;
  top: 12px;
  left: 21px;
  opacity: 0.3;
  pointer-events: none;
}

.header__input:focus {
  background-color: #F1F5F7;
  outline: none;
}

.header__input:focus ~ .header__search-icon {
  opacity: 1;
  fill: #405069;
}

.header__input:focus + .header__label {
  display: none;
}

.header__input:focus::placeholder {
  color: #C5C5C5;
  opacity: 1;
}

.user {
  padding-left: 6px;
}

.user__link--log-in {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #F1F5F7;
  text-decoration: none;
  padding-left: 28px;
  background-image: url("../img/icon/login.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.user__link:hover {
  opacity: 0.6;
}

.user__link:active {
  opacity: 0.3;
}

.user__link--name {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #F1F5F7;
  text-decoration: none;
  padding-left: 24px;
  background-image: url("../img/icon/user.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.user__link--log-out {
  display: block;
  width: 23px;
  height: 24px;
  background-image: url("../img/icon/logout.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.user__item {
  margin-left: 12px;
}

.user__list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: flex;
  position: relative;
}

.user__list--hidden {
  display: none;
}

.nav {
  background: #3D546F;
}

.nav__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
  flex-wrap: wrap;
  margin-left: -19px;
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding: 19px 23px 27px 23px;
}

.nav__link:hover {
  background: #32425C;
  color: #C5C5C5;
}

.nav__link:active {
  background: #32425C;
  color: #FFFFFF;
  font-weight: 700;
}

.nav__link-icon {
  text-decoration: none;
  display: block;
  height: 24px;
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 20px;
}

.nav__link-icon:hover {
  opacity: 0.6;
}

.nav__link-icon:active {
  opacity: 0.3;
}

.nav__link-icon::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.nav__link-icon--bookmark::after {
  background-image: url("../img/icon/bookmark.svg");
}

.nav__link-icon--cart::after {
  background-image: url("../img/icon/cart.svg");
}

.nav__list-icon {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  margin-left: auto;
}

.btn-green {
  display: inline-block;
  text-decoration: none;
  background-color: #63A63E;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 12px 12px;
  border: none;
  font-family: inherit;
}

.btn-green:hover {
  background-color: #5FBB2D;
}

.btn-green:active {
  background-color: #518534;
}

.nav__btn {
  margin-bottom: 6px;
  margin-right: 3px;
}

.nav__item-icon {
  margin-right: 23px;
}


.nav__number {
  display: inline-block;
  min-width: 18px;
  padding-right: 1px;
  padding-left: 4px;
}

/* состояние закладки и корзины когда там ничего нет */
.nav__number--hidden {
  display: none;
}

.popover {
  position: absolute;
  width: 360px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding-top: 22px;
  padding-right: 29px;
  padding-bottom: 35px;
  padding-left: 26px;
  right: 3px;
  top: 3px;
  z-index: 2;
}

.popover--close {
  display: none;
}

.popover__close {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
  background-image: url("../img/icon/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 19px;
  right: 19px;
  cursor: pointer;
}

.popover__close:hover {
  opacity: 0.6;
}

.popover__close:active {
  opacity: 0.3;
}

.popover__title {
  margin-top: 0;
  margin-bottom: 46px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 5px;
}

.popover__input {
  width: 100%;
  height: 40px;
  border: 1px solid #C5C5C5;
  border-radius: 2px;
  padding-left: 14px;
  padding-right: 14px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.popover__input:hover {
  border-color: #63A63E;
}

.popover__input:focus {
  border-color: #63A63E;
  box-shadow: 0 0 0 1px #FFBF47;
  outline: none;
}

.popover__input::placeholder {
  color: #CCCCCC;
  opacity: 1;
}

.popover__input:disabled {
  background-color: rgba(241, 245, 247, 0.5);
  border-color: #C5C5C5;
  color: #808080;
}

/* Класс для ошибки */
.popover__input--error {
  border-color: #EE3643;
}

.popover__input--error:hover {
  border-color: #EE3643;
  box-shadow: 0 0 0 1px #EE3643;
}

/* пояснение ошибки */
.popover__error-text {
  display: none;
  font-size: 14px;
  line-height: 18px;
  color: #BA2732;
}

.popover__input--error + .popover__error-text {
  display: block;
}

.popover__checkbox-label {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  padding-left: 38px;
  position: relative;
}

.popover__checkbox-label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 2px solid #3D546F;
}

.popover__checkbox-label::before {
  display: none;
  content: "";
  position: absolute;
  top: 5px;
  left: 8px;
  width: 5px;
  height: 8px;
  border-right: 2px solid #3D546F;
  border-bottom: 2px solid #3D546F;
  transform: rotate(45deg);
}

.popover__checkbox-label:hover::before, .popover__checkbox-label:hover::after {
  opacity: 0.6;
}

.popover__link {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}


.popover__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 5px;
  margin-top: 13px;
  margin-bottom: 40px;
}

.popover__checkbox {
  margin-right: 25px;
}

.popover__submit {
  background-image: url("../img/icon/login.svg");
  background-repeat: no-repeat;
  padding-left: 45px;
  padding-right: 26px;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 145px;
  background-position: left 25px center;
}

.btn-white {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #32425C;
  border: 2px solid #63A63E;
  background-color: #ffffff;
  border-radius: 2px;
  text-decoration: none;
  padding: 9px 7px;
  text-align: center;
  font-family: inherit;
  width: 145px;
}

.btn-white:hover {
  border-color: #3D546F;
}

.btn-white:active {
  border-color: #C5C5C5;
  color: #C5C5C5;
}

.popover__field {
  padding-left: 5px;
  margin-bottom: 7px;
}

.popover__register {
  width: 145px;
}

.popover__input-checkbox:checked + .popover__checkbox-label::before {
  display: block;
}

.popover__input-checkbox:disabled + .popover__checkbox-label {
  color: rgba(0, 0, 0, 0.4);
}

.popover__input-checkbox:disabled + .popover__checkbox-label::before,
.popover__input-checkbox:disabled + .popover__checkbox-label::after {
  opacity: 0.2;
}

.popover__user-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #3D546F;
}

.popover__user-link:hover {
  opacity: 0.6;
}

.popover__user-link:active {
  opacity: 0.3;
}

.popover__user-list {
  list-style: none;
  padding-left: 5px;
  margin: 0;
}

.popover--user .popover__title {
  margin-bottom: 30px;
}

.popover__user-item {
  margin-bottom: 18px;
}

.popover__log-out {
  margin-left: 5px;
  margin-top: 4px;
}

.nav-catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 26px 30px;
  padding-top: 52px;
}

.nav-catalog__slider {
  grid-column: 1/3;
  grid-row: 2/4;
}

.nav-catalog__item {
  width: 370px;
  min-height: 180px;
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 33px;
  padding-right: 165px;
  background-repeat: no-repeat;
  background-position: right 37px center;
}

.nav-catalog__title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 57px;
}

.nav-catalog__btn {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-decoration: none;
  padding: 11px;
  padding-left: 28px;
  background-image: url("../img/icon/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: left 5px center;
}

.nav-catalog__btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.nav-catalog__btn:active {
  background-color: rgba(255, 255, 255, 0.6);
}

.nav-catalog__item--yellow {
  background-color: #FFBF47;
}

.nav-catalog__item--blue {
  background-color: #3BBCE3;
}

.nav-catalog__item--pink {
  background-color: #DC91D8;
}

.nav-catalog__item--green {
  background-color: #8ED78F;
}

.nav-catalog__item--paint {
  background-image: url("../img/icon/icon-paints.svg");
}

.nav-catalog__item--tool {
  background-image: url("../img/icon/icon-tool.svg");
}

.nav-catalog__item--equipment {
  background-image: url("../img/icon/icon-equipment.svg");
}

.nav-catalog__item--sale {
  background-image: url("../img/icon/icon-sale.svg");
}

.nav-catalog__item--delivery {
  background-image: url("../img/icon/icon-delivery.svg");
}

.new {
  position: relative;
}

.new::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  background-image: url("../img/icon/new.svg");
  background-repeat: no-repeat;
  background-position: right top;
  z-index: 3;
}

.slider {
  position: relative;
  width: 770px;
}

.slider__item {
  display: none;
  flex-direction: column;
  width: 770px;
  min-height: 390px;
  padding: 50px;
  padding-bottom: 40px;
  background-color: #4c4c4c;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__item--drill {
  background-image: url("../img/slider-1.jpg");
}

.slider__item--perforator {
  background-image: url("../img/slider-2.jpg");
}

.slider__title {
  font-family: "Fira Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 10px;
}

.slider__desc {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 0;
}

.btn-red {
  font-family: inherit;
  width: 195px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #EE3643;
  border-radius: 4px;
  text-decoration: none;
  border: 0;
  padding: 13px 6px;
  text-align: center;
}

.btn-red:hover {
  background-color: #CA2C37;
}

.btn-red:active {
  background-color: #BA2732;
}

.slider__btn {
  margin-top: auto;
}

.slider__item--active {
  display: flex;
}

.slider__arrow {
  background-image: url("../img/icon/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  background-color: rgba(41, 52, 73, 0.6);
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 180px;
  cursor: pointer;
}

.slider__arrow--back {
  left: 20px;
  transform: rotate(180deg);
}

.slider__arrow--next {
  right: 20px;
}

.slider__arrow:hover {
  background-color: rgba(41, 52, 73, 1);
}

.slider__arrow:active {
  opacity: 0.6;
}

.slider__bullet {
  background-color: #FFD180;
  opacity: 0.8;
  border: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  padding: 0;
  margin: 4px;
  cursor: pointer;
}

.slider__bullets {
  display: flex;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.slider__bullet--active {
  background-color: #ffffff;
  opacity: 1;
}

.slider__bullet:hover {
  opacity: 0.6;
}

.slider__bullet:active {
  opacity: 0.3;
}

.catalog__title {
  width: 100%;
  margin-bottom: 26px;
}

.title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #293449;
}

.form-filter {
  width: 220px;
}

.form-filter__fieldset-wrapper {
  margin-bottom: 41px;
}

.form-filter__fieldset-wrapper--radio {
  padding-left: 5px;
}

.form-filter__fieldset-wrapper--radio .form-filter__list {
  margin-top: 19px;
}

.form-filter__legend {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  padding-left: 0;
}

.form-filter__range {
  margin-top: 8px;
}

.form-filter__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form-filter__range-wrapper {
  background-color: #F7F3EC;
  border-radius: 2px;
  padding: 19px 20px;
}

.form-filter__range-scale {
  width: 180px;
  height: 2px;
  background-color: #3D546F;
  position: relative;
}

.form-filter__range-bar {
  height: 2px;
  background-color: #5FBB2D;
}

.form-filter__range-toggle {
  border: 2px solid #3D546F;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  padding: 0;
  position: absolute;
  top: -9px;
  border-radius: 50%;
  cursor: pointer;
}

.form-filter__range-toggle--min {
  left: 0;
}

.form-filter__range-toggle--max {
  left: 70px;
}

.form-filter__range-toggle:hover {
  background-color: #518534;
}

.form-filter__range-toggle:active {
  background-color: #5FBB2D;
}

.form-filter__range-input {
  width: 95px;
  height: 40px;
  border: none;
  border-radius: 2px;
  background-color: #F7F3EC;
  -moz-appearance: textfield;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #293449;
}

.form-filter__range-input::-webkit-outer-spin-button,
.form-filter__range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-filter__range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  position: relative;
}

.form-filter__catalog-filter-label--min::after {
  content: "";
  width: 8px;
  height: 1px;
  background-color: #293449;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}

.form-filter__label {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  padding-left: 36px;
  position: relative;
  cursor: pointer;
}

.form-filter__label--checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  border-radius: 2px;
  border: 2px solid #3D546F;
}

.form-filter__label--checkbox::before {
  display: none;
  content: "";
  position: absolute;
  top: 5px;
  left: 8px;
  width: 5px;
  height: 8px;
  border-right: 2px solid #3D546F;
  border-bottom: 2px solid #3D546F;
  transform: rotate(45deg);
}

.form-filter__label--checkbox:hover::before, .form-filter__label--checkbox:hover::after {
  opacity: 0.6;
}

.form-filter__checkbox:checked + .form-filter__label--checkbox::before {
  display: block;
}

.form-filter__checkbox:disabled + .form-filter__label--checkbox {
  color: rgba(0, 0, 0, 0.4);
}

.form-filter__checkbox:disabled + .form-filter__label--checkbox::before,
.form-filter__checkbox:disabled + .form-filter__label--checkbox::after {
  opacity: 0.2;
}

.form-filter__list {
  padding-left: 0;
  list-style: none;
  margin-top: 15px;
  margin-bottom: 0;
}

.form-filter__item {
  margin-bottom: 22px;
}

.form-filter__item:last-child {
  margin-bottom: 6px;
}

.form-filter__label--radio::before {
  content: "";
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #3D546F;
  position: absolute;
  top: 0;
  left: 0;
}

.form-filter__label--radio::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3D546F;
  position: absolute;
  top: 7px;
  left: 7px;
  display: none;
}

.form-filter__radio:checked + .form-filter__label--radio::after {
  display: block;
}

.form-filter__radio:disabled + .form-filter__label--radio {
  color: rgba(0, 0, 0, 0.4);
}

.form-filter__btn {
  font-family: inherit;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #32425C;
  padding: 11px 12px 9px 12px;
  background-color: #FFFFFF;
  border: 2px solid #3D546F;
  border-radius: 2px;
  width: 100%;
  cursor: pointer;
}

.form-filter__btn:hover {
  border-color: #63A63E;
}

.form-filter__btn:active {
  border-color: #C5C5C5;
  color: #C5C5C5;
}

.catalog__container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 53px;
}

.catalog__form {
  width: 220px;
}

.catalog__main {
  flex-grow: 1;
  margin-left: 74px;
  padding-top: 32px;
}

.catalog__select {
  font-family: inherit;
  width: 280px;
  height: 40px;
  background-color: #FFFFFF;
  border: 1px solid #3D546F;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  color: #293449;
  padding-left: 16px;
  padding-right: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.catalog__sort {
  position: relative;
  width: 280px;
  padding-left: 5px;
  margin-bottom: 32px;
}

.catalog__sort svg {
  position: absolute;
  right: 7px;
  top: 17px;
  pointer-events: none;
}

.catalog__select:hover {
  border-color: #63A63E;
}

.catalog__select:focus + svg {
  fill:  #63A63E;
}

.catalog__select:focus {
  border-color: #63A63E;
  box-shadow: 0 0 0 1px #FFBF47;
  outline: none;
}

.catalog__list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 29px 33px;
}

.product {
  display: flex;
  flex-direction: column;
  width: 270px;
  padding: 27px;
  padding-bottom: 23px;
  height: 100%;
}

.product:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.product__title {
  font-size: 20px;
  line-height: 26px;
  color: #293449;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 14px;
}

.product__old-price {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #A9A9A9;
  margin-bottom: 13px;
  margin-top: 0;
}

.product__btn-price {
  display: inline-block;
  background-color: #EE3643;
  padding: 11px 23px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  min-width: 120px;
  border-radius: 4px;
  position: relative;
  margin-right: 17px;
  margin-top: auto;

}

.product__btn-price::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  background-color: #EE3643;
  transform: rotate(45deg);
  top: 5px;
  right: -12px;
}

.product__btn-price:hover {
  background-color: #CA2C37;
}

.product__btn-price:hover::before {
  background-color: #CA2C37;
}

.product__btn-price:active {
  background-color: #BA2732;
}

.product__btn-price:active::before {
  background-color: #BA2732;
}


.product__btn-buy {
  min-width: 135px;
  padding: 11px 24px;
  padding-left: 41px;
  border-radius: 2px;
  background-image: url("../img/icon/cart-white.svg");
  background-repeat: no-repeat;
  background-position: left 22px center;
  margin-bottom: 11px;
}

.product__image-wrapper {
  position: relative;
}

.product__btn-bookmark {
  width: 135px;
}

.product__btn-wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  padding-top: 34px;
  padding-right: 5px;
  display: none;
}

.product:hover .product__btn-wrapper {
  display: block;
}

.product__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.pagination__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination__link {
  text-decoration: none;
  width: 50px;
  height: 45px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  background-color: #3D546F;
  border-radius: 2px;
  text-align: center;
  padding-top: 14px;
}

.pagination__link--active {
  background-color: #FFFFFF;
  color: #3D546F;
}

.pagination__link:hover {
  opacity: 0.6;
}

.pagination__link:active {
  opacity: 0.3;
}

.pagination__link--active:hover,
.pagination__link--active:active {
  opacity: 1;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5px;
}

.catalog__pagination {
  margin-top: 31px;
}

.pagination__btn {
  margin-left: 17px;
  width: 195px;
  border-radius: 2px;
}

.service {
  background-color: #F4F7F9;
  padding-top: 52px;
  padding-bottom: 53px;
}

.service__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 29px;
}

.service__desc {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #293449;
  margin-bottom: 64px;
}

.service__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.service__item {
  min-height: 382px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 160px 35px 30px 31px;
  background-repeat: no-repeat;
  background-position: left 31px top 24px;
}

.service__item--delivery {
  background-image: url("../img/icon/delivery-red.svg");
}

.service__item--sale {
  background-image: url("../img/icon/sale-red.svg");
}

.service__item--paints {
  background-image: url("../img/icon/paints-red.svg");
}

.service__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425C;
  margin-top: 0;
  margin-bottom: 21px;
}

.service__item--sale .service__item-desc {
  padding-left: 4px;
}

.about {
  width: 500px;
  padding-top: 52px;
  padding-bottom: 50px;
}

.main__row {
  display: flex;
  justify-content: space-between;
}

.about__title {
  margin-top: 0;
  margin-bottom: 23px;
}

.about__desc {
  margin-bottom: 25px;
}

.about__btn {
  margin-top: 52px;
  border-radius: 2px;
  padding-left: 10px;
}

.map {
  width: 500px;
  padding-top: 52px;
  padding-bottom: 49px;
}

.map__title {
  margin-top: 0;
  margin-bottom: 23px;
}

.map__desc {
  margin-bottom: 31px;
}
